.link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.link:hover {
  text-decoration: underline;
}

.link2 {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.link2:hover {
  text-decoration: underline;
}

.btn2 {
  padding: 10px 50px;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.btn2:hover {
  background-color: #1e49e2;
  color: #ffffff;
  text-decoration: underline;
}

.careersLink {
  text-decoration: none;
  margin-right: 20px;
  color: #000000;
}

.careersLink:hover {
  border-bottom: 2px solid #1e49e2;
}

.careersBtn {
  padding: 10px 15px;
  background-color: #1e49e2;
  border-radius: 25px;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.careersBtn:hover {
  background-color: #1e49e2;
  color: #ffffff;
  text-decoration: underline;
}

.careersLink2 {
  text-decoration: none;
  color: #1e49e2;
}

.careersLink2:hover {
  border-bottom: 2px solid #1e49e2;
}

.serviceLink {
  text-decoration: none;
  color: #000000;
  height: 100%;
  width: 100%;
  z-index: 100;
  border: 1px solid transparent;
  border-radius: 5px;
}

.serviceLink:hover {
  border-color: #1e49e2;
}

.article {
  text-decoration: none;
  color: #000000;
  transition: all 1s ease-in-out;
}
